@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-toggle {
  position: fixed;
  left: 90%;
  top: 90%;
}

.container {
  padding-top: 1rem;
}

.dark {
  background-color: #26272b;
  color: #fff;
}
.light {
  background-color: #fff;
  color: black;
}

body {
  font-family: "Rubik", sans-serif;
}

.main-container {
  max-width: 1140px;
  margin: auto;
}

.heading-title {
  color: "red";
  font-size: 2.5rem;
  text-align: center;
  /* margin: 1.6rem auto 2.5rem auto; */
}

.heading-chorus {
  color: #4bc1be;
}

.table-container {
  margin: auto 0.8rem;
}

.table {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 400;
  /* border-collapse: separate; */
  border-spacing: 0 2.3rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo .logo-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo .name {
  font-size: 10px;
  font-weight: lighter;
}

.logo img {
  height: 40px;
  margin-right: 5px;
}

th {
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 15px;
}

.coin-row,
.coin-heading-row {
  box-shadow: 0 0 12px #18191b;
  /* outline: thin solid; */
}

.coin-row {
  transition: transform 0.2s ease-out;
}

.coin-row:hover {
  transform: scale(1.03);
}

.full-page {
  height: 100vh;
}

.footer {
  text-align: center;
  padding: 3rem 0;
}

.footer a {
  text-decoration: none;
  color: #4bc1be;
}

.footer p {
  font-size: 0.8rem;
  font-weight: 100;
}

.coin-item-main {
  max-width: 740px;
  /* border: 1px solid white; */
  margin: auto;
}

.coin-item-main .heading {
  padding: 1rem;
}
.coin-item-main .content {
  /* background-color: #26272b; */
  border-radius: 8px;
  box-shadow: 0 0 12px #18191b;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 740px;
  padding: 0.7rem 1rem;
  text-align: center;
}

.light-noshadow {
  box-shadow: none;
}

.coin-item-main .rank {
  background-color: #6900ff;
  border: 1px solid #6900ff;
  border-radius: 8px;
  box-shadow: 0 0 8px #6900ff;
  padding: 0.2rem;
}

.coin-item-heading {
  /* background: #000; */
  box-shadow: none;
}

.coin-item-heading th {
  background-color: #333;
}

.content-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  /* background-color: #26272b; */
  border-radius: 8px;
  /* box-shadow: 0 0 12px #18191b; */
  margin: 1rem auto;
  max-width: 740px;
  padding: 0.7rem 1rem;
  text-align: center;
}

.description a {
  color: white;
  /* text-decoration: none; */
}

@media only screen and (max-width: 762px) {
  .mobile-hide {
    display: none;
  }

  .btn-toggle {
    left: 85%;
    top: 85%;
    width: 35px;
  }

  .heading-title {
    font-size: 2rem;
  }

  .footer {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 438px) {
  .mobile-hide2 {
    display: none;
  }

  .footer {
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 475px) {
  .mobile-hide2-coin-item {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  .content-stats {
    flex-direction: column;
    gap: 0.5rem;
  }
}
